<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MapleHome.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MapleHome.Properties.Settings>
            <setting name="OpenAiToken" serializeAs="String">
                <value>Void</value>
            </setting>
            <setting name="QuickLink1" serializeAs="String">
                <value>Enter Url...</value>
            </setting>
            <setting name="QuickLink2" serializeAs="String">
                <value>Enter Url...</value>
            </setting>
            <setting name="QuickLink3" serializeAs="String">
                <value>Enter Url...</value>
            </setting>
            <setting name="TokenSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuickLink1Name" serializeAs="String">
                <value>Void</value>
            </setting>
            <setting name="QuickLink2Name" serializeAs="String">
                <value>Void</value>
            </setting>
            <setting name="QuickLink3Name" serializeAs="String">
                <value>Void</value>
            </setting>
            <setting name="QuickLink4Name" serializeAs="String">
                <value>Void</value>
            </setting>
            <setting name="QuickLink5Name" serializeAs="String">
                <value>Void</value>
            </setting>
            <setting name="QuickLink6Name" serializeAs="String">
                <value>Void</value>
            </setting>
            <setting name="QuickLink4" serializeAs="String">
                <value>Enter Url...</value>
            </setting>
            <setting name="QuickLink5" serializeAs="String">
                <value>Enter Url...</value>
            </setting>
            <setting name="QuickLink6" serializeAs="String">
                <value>Enter Url...</value>
            </setting>
            <setting name="QuickApp1" serializeAs="String">
                <value>Enter Path...</value>
            </setting>
            <setting name="QuickApp2" serializeAs="String">
                <value>Enter Path...</value>
            </setting>
            <setting name="QuickApp3" serializeAs="String">
                <value>Enter Path...</value>
            </setting>
            <setting name="QuickApp4" serializeAs="String">
                <value>Enter Path...</value>
            </setting>
            <setting name="QuickApp5" serializeAs="String">
                <value>Enter Path...</value>
            </setting>
            <setting name="QuickApp6" serializeAs="String">
                <value>Enter Path...</value>
            </setting>
            <setting name="QuickApp1Name" serializeAs="String">
                <value />
            </setting>
            <setting name="QuickApp2Name" serializeAs="String">
                <value />
            </setting>
            <setting name="QuickApp3Name" serializeAs="String">
                <value />
            </setting>
            <setting name="QuickApp4Name" serializeAs="String">
                <value />
            </setting>
            <setting name="QuickApp5Name" serializeAs="String">
                <value />
            </setting>
            <setting name="QuickApp6Name" serializeAs="String">
                <value />
            </setting>
            <setting name="YoutubeApiKey" serializeAs="String">
                <value>AIzaSyCTEZNcC9Le1GPrU7qdFruVyo52NzFUQtY</value>
            </setting>
            <setting name="YoutubeApiKey2" serializeAs="String">
                <value>AIzaSyBr5FK93FZvdZtsEMV8uQX61k-4JTM--lA</value>
            </setting>
            <setting name="YoutubeApiKey3" serializeAs="String">
                <value>AIzaSyAZU3JNyiv-JiMZg5h7YIP3fUWZr0IwDM4</value>
            </setting>
            <setting name="YoutubeApiKey4" serializeAs="String">
                <value>AIzaSyAS-EGRuAajTCrjOD5k7pJhPvFc1dWH_1U</value>
            </setting>
            <setting name="YoutubeApiKey5" serializeAs="String">
                <value>AIzaSyBWpZx2jJl_gKneHMVKsKGIJvKO1Yjapp4</value>
            </setting>
            <setting name="YoutubeApiKey6" serializeAs="String">
                <value>AIzaSyAV_MAEY-AOpvWs6KrgigAUcqqxYInaTqo</value>
            </setting>
            <setting name="YoutubeApiKey7" serializeAs="String">
                <value>AIzaSyAf4B4EJLnL1FWi9np3Xh6zfW2BaYBDXGM</value>
            </setting>
            <setting name="YoutubeApiKey8" serializeAs="String">
                <value>AIzaSyAqUR0P7szTnmyv6AZb38JuuNycJVo12WU</value>
            </setting>
            <setting name="YoutubeApiKey9" serializeAs="String">
                <value>AIzaSyAaih4FrKO1MLdepApopbgjTNVdFHutenc</value>
            </setting>
            <setting name="YoutubeApiKey10" serializeAs="String">
                <value>AIzaSyBqTcC84xgHfn6uk3H0mNHlfesYNVtZaA4</value>
            </setting>
            <setting name="YoutubeApiKey11" serializeAs="String">
                <value>AIzaSyAOzDby3TIhafOjNAlJndXIfRRDI6Tmyr4</value>
            </setting>
        </MapleHome.Properties.Settings>
    </userSettings>
</configuration>